@media only screen and (max-width: 1100px){
    .about-page{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;

        height: 90vh;
    }

    .image-container{
        display:none;
    }
}

