.about-page{
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 5fr 4fr;
}

.image-container{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;

    height: 93vh;
    overflow:hidden;
}

.image-container img{
    position: relative;
    bottom: -3rem;
    left: -3rem;

    transform: scaleX(-1);
    width: 45rem;
}

.image-container .accent-box{
    position: absolute;
    bottom: .5rem;
    width: 35%;
    height: 34rem;
    background-color: var(--main-accent);
}

.about-page h1{
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;

    text-align: center;
    font-size: 4rem;

    color: var(--main-dark);
}

.about-page .textBox{
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}   

.about-page .textBox p{
    width: 60%;
    margin: 1rem;
    font-family: 'Puritan', sans-serif;
    font-size: 1.3rem;
}