.hamburger-icon{
    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 2.5rem;
    height:100%;
}

.hamburger-icon div{
    background-color: var(--main-white);
    width: 100%;
    height: 15%;

    border-radius: 20px;
}

.hamburger-menu .hide-dropdown{
    display: none;
}

@media(max-width: 950px){
    .hamburger-icon{
        display: flex;
    }
}