:root{
    --main-white: #F1F1EA;
    --main-dark: #474843;
    --main-secondary: #084B83;
    --main-accent: #DA4167;
    --light-dark: #74756E;
    --light-secondary: #399BD4;
}

article{
    background-color: var(--main-white);
}

h1, h2, h3{
    font-family: 'Orienta', sans-serif;
}

p, a, input, textarea{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
}

label, button{
    font-family: 'Puritan', sans-serif;
    font-size: 1.2rem;
}

a{
    color: var(--main-accent);
    text-decoration: none;
}