.navbar{
    display: flex;
    flex-direction: row;

    padding: 1em 2em;

    background-color: var(--main-dark);
    
}

.navbar h1{
    margin: 0 5em 0 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.8em;

    color: var(--main-white);
}

.navbar ul{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.navbar li{
    margin: 0 10em 0 0;

    font-family: 'Puritan', sans-serif;
}

.navbar .pagelink{
    color: var(--main-white);
    text-decoration: none;
}

.navbar .pagelink:hover{
    color: var(--main-accent);
}

.footer{
   justify-content: center; 
}