@media(max-width: 950px){
    .navbar{
        justify-content: space-between;
    }

    .navbar h1{
        margin: 0;
    }

    .navbar .groupedlinks{
        display:none;
    }
}

@media(max-width: 500px){
    .navbar ul{
        display:none;
    }
}