nav, section{
    display: flex;
    flex-direction: row;

    padding: 1em;

    background-color: grey;
}

ul{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

li{
    margin: 0 2em;
    list-style-type: none;
}

h1{
    margin: 0 2em;
}

.pagelink{
    color: white;
    text-decoration: none;
}