.navbar{
    display: flex;
    flex-direction: row;

    padding: 1em;

    background-color: var(--main-dark);
    
}

.navbar h1{
    margin: 0 2em;

    font-family: 'Oxygen', sans-serif;
    font-size: 2rem;

    color: var(--main-white);
}

.navbar ul{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.navbar li{
    margin: 0 2em;

    font-family: 'Oxygen', sans-serif;
    font-size: 1.3rem;

    color: var(--main-white);
    list-style-type: none;
}

.navbar .pagelink{
    color: white;
    text-decoration: none;
}