.project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project .textBox, .project picture{
    margin: 4rem 1rem;
}

.project picture{
    display: flex;
    width: 100%;
    height: 25rem;
    box-shadow: 1px 1px 5px var(--main-dark);
}

.project img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.project .textBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project .textBox h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project .textBox p{
    text-align: justify;
    font-size: 1.2rem;
}

.project .textBox ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2rem 0;
    width: 100%;
}

.project .textBox div{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    width: 100%;
}

.project .textBox a{
    font-weight: bold;
}

.project:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.project:nth-of-type(odd) .textBox{
    align-items: flex-end;
}